# This is a comment. Comments are ignored by Git. # They are here to explain why we are ignoring certain files. # 1. Node Dependencies # This directory contains all third-party libraries. It can be very large # and is perfectly reproducible by running `npm install`. # It should NEVER be committed to version control. node_modules # 2. Environment Variables # This file contains sensitive information such as API keys and database # credentials. Committing this file would be a major security risk. .env